.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 200px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items>li {
    padding: 10px;
}

.main {
    position: flex;
    width: 1200px;
    border: 3px solid #ccc;
}

.posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.poster {
    width: 33%;
}

.poster img {
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    max-width: 300px;
    max-height: 400px;
}



.mainContent {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.mainContent img {
    display: block;
    margin: 0 auto;
}

.experienceDescription {
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
}